@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Roboto+Slab&family=Zilla+Slab:wght@300&display=swap');

* {
    margin:0;
    padding:0;
}

.background_color {
    background-color: grey;

}

#navigation_bar {
    background-color: #13678A;
    padding: 10px;
    text-decoration: none;
    font-family:'Bebas Neue';
    font-size: 30px; 
    display: flex;
    justify-content: center;
    align-content: center;
}

#navigation_bar a:hover {
    color:white;
}
#navigation_bar a {
    color:black;
}
li {
    display:inline-block;
    align-items: center;
    line-height: 45px;
    margin:4px;
    letter-spacing: 3px;
}
li {
    border: 1px solid white;
    border-radius: 3.2px;
    padding: 4px;
}

li a {
    text-decoration: none;
}
li a:hover {
    background-color: #13678A;
}

    
