@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Roboto+Slab&family=Zilla+Slab:wght@300&display=swap');

* {
    margin:0;
    padding:0;
}
.background_color {
    background-color: grey

}
header {
    background-color: #5D7791;
    color: black;
    font-size: 30px;
}

header a {
    text-decoration: none;
    text-transform: none;
}

h1 h2 h3 h4 h5 h6 {
    color: black;
    text-transform: none;
    text-decoration: none;
}
#navigation_bar {
    background-color: #5D7791;
    padding: 0;
    margin: 5px;
    text-decoration: none;
    font-family:'Bebas Neue';
    font-size: 30px; 
    
}
#navigation_bar a:hover {
    color:white

}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
}
li {
    display:inline-block;
    margin: 3px auto;
    letter-spacing: 3px;
}
li a {
    text-decoration: none;
}

    
